/* @tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BrandonRegular";
  src: url("../styles/Fonts/Brandon-Grotesque-Font/brand_ssv/Brandon_reg.otf");
}

p {
  font-family: "BrandonRegular";
  font-style: normal;
  font-weight: 390 !important;
  font-size: 23px !important;
  line-height: 36px !important;
}

h1 {
  font-family: "BrandonRegular";
  font-style: normal;
  font-weight: 390 !important;
  font-size: 64px !important;
  line-height: 96px !important;
}

h2 {
  font-family: "BrandonRegular";
  font-style: normal;
  font-weight: 390 !important;
  font-size: 44px !important;
  line-height: 64px !important;
}

h4 {
  font-family: "BrandonRegular";
  font-style: normal;
  font-weight: 390 !important;
  font-size: 26px !important;
  line-height: 36px !important;
}

.mainPage {
  background-color: #fbbf24;
  padding: 30px 160px;
  font-family: "BrandonRegular";
}

.mainText {
  font-size: 60px;
}

.circle-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.applyClass {
  border-radius: 25px;
}

.mainListInner {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.betweenLine {
  background-color: #111;
  width: 2px;
  height: 35px;
}

.mainListInner .elementText {
  cursor: pointer;
}

.admissionQuestionSection {
  padding: 100px;
}

.headBottomLine,
.headBottomLine img {
  width: 100%;
  height: auto;
}

.admissionQuestionHead h3 {
  margin-left: 30px;
}

.admissionQuestionSection .accordion {
  background: transparent;
  --bs-accordion-bg: none;
  --bs-accordion-border-color: none;
}

.admissionQuestionSection .accordion-button:not(.collapsed) {
  color: #111;
  background: none;
  box-shadow: none;
}

.admissionQuestionSection h2 {
  line-height: 0px;
}

.admissionQuestionSection .admissionAnswer {
  padding-right: 500px;
}

@media (max-width: 800px) {
  .admissionQuestionSection {
    padding: 50px;
  }

  .admissionQuestionSection .admissionAnswer {
    padding-right: 20px;
  }
}

@media (max-width: 500px) {
  .admissionQuestionSection {
    padding: 20px;
  }

  .admissionQuestionHead h3 {
    margin: 0px;
    text-align: center;
  }
}

.accordion-button:not(.collapsed)::after,
.accordion-button::after {
  --bs-accordion-btn-icon-width: 25px;
}

.purpleIcon .accordion-button:not(.collapsed)::after {
  background-image: url(../public/purple-minus-icon.png);
}

.purpleIcon .accordion-button::after {
  background-image: url(../public/purple-plus-icon.png);
}

.greenIcon .accordion-button:not(.collapsed)::after {
  background-image: url(../public/green-minus-icon.png);
}

.greenIcon .accordion-button::after {
  background-image: url(../public/green-plus-icon.png);
}

.orangeIcon .accordion-button:not(.collapsed)::after {
  background-image: url(../public/orange-minus-icon.png);
}

.orangeIcon .accordion-button::after {
  background-image: url(../public/orange-plus-icon.png);
}

.pinkIcon .accordion-button:not(.collapsed)::after {
  background-image: url(../public/pink-minus-icon.png);
}

.pinkIcon .accordion-button::after {
  background-image: url(../public/pink-plus-icon.png);
}

.blueIcon .accordion-button:not(.collapsed)::after {
  background-image: url(../public/blue-minus-icon.png);
}

.blueIcon .accordion-button::after {
  background-image: url(../public/blue-plus-icon.png);
}

.yellowIcon .accordion-button:not(.collapsed)::after {
  background-image: url(../public/yellow-minus-icon.png);
}

.yellowIcon .accordion-button::after {
  background-image: url(../public/yellow-plus-icon.png);
}

@media (max-width: 800px) {
  .accordion-button:not(.collapsed)::after,
  .accordion-button::after {
    --bs-accordion-btn-icon-width: 17px;
  }
}

@media (max-width: 500px) {
  .accordion-button:not(.collapsed)::after,
  .accordion-button::after {
    --bs-accordion-btn-icon-width: 17px;
  }
}

.faqDescImg img {
  width: 500px;
  height: auto;
}

.faqMainList {
  margin-top: 5px;
  padding: 0px 100px;
}

.custom-list-item {
  color: #4a5568;
  margin-bottom: 1rem;
}

.custom-list-item::marker {
  color: #f59e0b;
} */



/* 

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BrandonRegular";
  src: url("../styles/Fonts/Brandon-Grotesque-Font/brand_ssv/Brandon_reg.otf");
}

p {
  font-family: "BrandonRegular";
  font-style: normal;
  font-weight: 390 !important;
  font-size: 23px !important;
  line-height: 32px !important; 
}

h1 {
  font-family: "BrandonRegular";
  font-style: normal;
  font-weight: 390 !important;
  font-size: 64px !important;
  line-height: 84px !important;
}

h2 {
  font-family: "BrandonRegular";
  font-style: normal;
  font-weight: 390 !important;
  font-size: 44px !important;
  line-height: 58px !important; 
}

h4 {
  font-family: "BrandonRegular";
  font-style: normal;
  font-weight: 390 !important;
  font-size: 26px !important;
  line-height: 32px !important; 
}

.mainPage {
  background-color: #FBBF24;
  padding: 30px 160px;
  font-family: "BrandonRegular";
}

.mainText {
  font-size: 60px;
  line-height: 84px !important; 
}

.circle-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.applyClass {
  border-radius: 25px;
}

.mainListInner {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.betweenLine {
  background-color: #111;
  width: 2px;
  height: 35px;
}

.mainListInner .elementText {
  cursor: pointer;
}

.admissionQuestionSection {
  padding: 100px;
}

.headBottomLine,
.headBottomLine img {
  width: 100%;
  height: auto;
}

.admissionQuestionHead h3 {
  margin-left: 30px;
}

.admissionQuestionSection .accordion {
  background: transparent;
  --bs-accordion-bg: none;
  --bs-accordion-border-color: none;
}

.admissionQuestionSection .accordion-button:not(.collapsed) {
  color: #111;
  background: none;
  box-shadow: none;
}

.admissionQuestionSection h2 {
  line-height: 0px;
}

.admissionQuestionSection .admissionAnswer {
  padding-right: 500px;
}

@media (max-width: 800px) {
  .admissionQuestionSection {
    padding: 50px;
  }

  .admissionQuestionSection .admissionAnswer {
    padding-right: 20px;
  }
}

@media (max-width: 500px) {
  .admissionQuestionSection {
    padding: 20px;
  }

  .admissionQuestionHead h3 {
    margin: 0px;
    text-align: center;
  }
}

.accordion-button:not(.collapsed)::after,
.accordion-button::after {
  --bs-accordion-btn-icon-width: 25px;
}

.purpleIcon .accordion-button:not(.collapsed)::after {
  background-image: url(../public/purple-minus-icon.png);
}

.purpleIcon .accordion-button::after {
  background-image: url(../public/purple-plus-icon.png);
}

.greenIcon .accordion-button:not(.collapsed)::after {
  background-image: url(../public/green-minus-icon.png);
}

.greenIcon .accordion-button::after {
  background-image: url(../public/green-plus-icon.png);
}

.orangeIcon .accordion-button:not(.collapsed)::after {
  background-image: url(../public/orange-minus-icon.png);
}

.orangeIcon .accordion-button::after {
  background-image: url(../public/orange-plus-icon.png);
}

.pinkIcon .accordion-button:not(.collapsed)::after {
  background-image: url(../public/pink-minus-icon.png);
}

.pinkIcon .accordion-button::after {
  background-image: url(../public/pink-plus-icon.png);
}

.blueIcon .accordion-button:not(.collapsed)::after {
  background-image: url(../public/blue-minus-icon.png);
}

.blueIcon .accordion-button::after {
  background-image: url(../public/blue-plus-icon.png);
}

.yellowIcon .accordion-button:not(.collapsed)::after {
  background-image: url(../public/yellow-minus-icon.png);
}

.yellowIcon .accordion-button::after {
  background-image: url(../public/yellow-plus-icon.png);
}

@media (max-width: 800px) {
  .accordion-button:not(.collapsed)::after,
  .accordion-button::after {
    --bs-accordion-btn-icon-width: 17px;
  }
}

@media (max-width: 500px) {
  .accordion-button:not(.collapsed)::after,
  .accordion-button::after {
    --bs-accordion-btn-icon-width: 17px;
  }
}

.faqDescImg img {
  width: 500px;
  height: auto;
}

.faqMainList {
  margin-top: 5px;
  padding: 0px 100px;
}

.custom-list-item {
  color: #4a5568;
  margin-bottom: 1rem;
}

.custom-list-item::marker {
  color: #f59e0b;
}


.custom-line-height {
  line-height: 1.2; 
} */




@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BrandonRegular";
  src: url("../styles/Fonts/Brandon-Grotesque-Font/brand_ssv/Brandon_reg.otf");
}

p {
  font-family: "BrandonRegular";
  font-style: normal;
  font-weight: 390 !important;
  font-size: clamp(1rem, 2vw, 1.5rem) !important;
  line-height: clamp(1.5rem, 3vw, 2rem) !important;
}

h1 {
  font-family: "BrandonRegular";
  font-style: normal;
  font-weight: 390 !important;
  font-size: clamp(2rem, 5vw, 4rem) !important;
  line-height: clamp(2.5rem, 6vw, 5rem) !important;
}

h2 {
  font-family: "BrandonRegular";
  font-style: normal;
  font-weight: 390 !important;
  font-size: clamp(1.5rem, 4vw, 2.5rem) !important;
  line-height: clamp(2rem, 5vw, 3rem) !important;
}

h4 {
  font-family: "BrandonRegular";
  font-style: normal;
  font-weight: 390 !important;
  font-size: clamp(1rem, 3vw, 1.5rem) !important;
  line-height: clamp(1.5rem, 3vw, 2rem) !important;
}

.mainPage {
  background-color: #fbbf24;
  padding: 30px 160px;
  font-family: "BrandonRegular";
}

.mainText {
  font-size: clamp(1.5rem, 4vw, 3rem);
  line-height: clamp(2rem, 5vw, 4rem) !important;
}

.circle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.applyClass {
  border-radius: 25px;
}

.mainListInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.betweenLine {
  background-color: #111;
  width: 2px;
  height: 35px;
}

.mainListInner .elementText {
  cursor: pointer;
}

.admissionQuestionSection {
  padding: 20px;
}

.admissionQuestionHead h3 {
  margin-left: 0;
  text-align: center;
}

.admissionQuestionSection .accordion {
  background: transparent;
  --bs-accordion-bg: none;
  --bs-accordion-border-color: none;
}

.admissionQuestionSection .accordion-button:not(.collapsed) {
  color: #111;
  background: none;
  box-shadow: none;
}

.admissionQuestionSection h2 {
  line-height: 0px;
}

.admissionQuestionSection .admissionAnswer {
  padding-right: 20px;
}

.accordion-button:not(.collapsed)::after,
.accordion-button::after {
  --bs-accordion-btn-icon-width: 17px;
}

.purpleIcon .accordion-button:not(.collapsed)::after {
  background-image: url(../public/purple-minus-icon.png);
}

.purpleIcon .accordion-button::after {
  background-image: url(../public/purple-plus-icon.png);
}

.greenIcon .accordion-button:not(.collapsed)::after {
  background-image: url(../public/green-minus-icon.png);
}

.greenIcon .accordion-button::after {
  background-image: url(../public/green-plus-icon.png);
}

.orangeIcon .accordion-button:not(.collapsed)::after {
  background-image: url(../public/orange-minus-icon.png);
}

.orangeIcon .accordion-button::after {
  background-image: url(../public/orange-plus-icon.png);
}

.pinkIcon .accordion-button:not(.collapsed)::after {
  background-image: url(../public/pink-minus-icon.png);
}

.pinkIcon .accordion-button::after {
  background-image: url(../public/pink-plus-icon.png);
}

.blueIcon .accordion-button:not(.collapsed)::after {
  background-image: url(../public/blue-minus-icon.png);
}

.blueIcon .accordion-button::after {
  background-image: url(../public/blue-plus-icon.png);
}

.yellowIcon .accordion-button:not(.collapsed)::after {
  background-image: url(../public/yellow-minus-icon.png);
}

.yellowIcon .accordion-button::after {
  background-image: url(../public/yellow-plus-icon.png);
}

.faqDescImg img {
  width: 100%;
  height: auto;
}

.faqMainList {
  margin-top: 5px;
  padding: 0px 20px;
}

.custom-list-item {
  color: #4a5568;
  margin-bottom: 1rem;
}

.custom-list-item::marker {
  color: #f59e0b;
}

.custom-line-height {
  line-height: 1.2; /* Adjust the value as needed */
}
